CPA_BASE_URL=http://127.0.0.1:8317
CPA_MANAGEMENT_KEY_FILE=/home/you/subs/management.key
CPA_AUTH_DIR=/home/you/subs/auth
CPA_CONFIG_FILE=/home/you/subs/config.yaml
OPENCODE_GO_ENV_FILE=/home/you/.config/subs/opencode-go.env
USAGE_CACHE_TTL_MS=300000
